.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2em;
  background: #000000;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.Footer p {
  margin: 0;
}

.Footer .logs {
  overflow-y: auto;
  height: 100%;
  font-size: 90%;
  padding: 0.25em 1em;
  box-sizing: border-box;
}
