body
  background-color: #101010
  line-height: 1.5
  color: white
  font-family: "Yu Gothic"

.movies
  overflow: hidden

.movie.selected
  border-color: blue

.movie
  border: 1px solid transparent
  box-sizing: border-box
  float: left
  width: 10em
  height: 12em
  position: relative
  cursor: pointer
  margin: 1em

  img
    width: 100%

  .name
    position: absolute
    bottom: 0
    width: 100%
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    font-size: 0.8em
   